# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask-related
instance/
*.pyc

# Logs
*.log

# Environment variables
.env

# Local virtual environments
venv/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
.vscode/
.idea/